
html {
    font-family: Arial, sans-serif;
    font-size: 10px;
}

p {
    font-size: 1.5rem;
}

ul {
    display: flex;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

header ul {
    justify-content: flex-end;
}

a {
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    padding: 10px;
}

body {
    display: grid;
    grid-template-areas: 
    "header"
    "content";
    grid-template-rows: auto 1fr;
    height: 100vh;
}

header {
    grid-area: header;
}

main {
    grid-area: content;
    display: grid;
    grid-template-areas: 
    "form"
    "footer";
    grid-template-rows: 1fr auto;
}


form {
    grid-area: form;
    width: auto;
    height: 61rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form input {
    font-size: 1.6rem;
    width: 58rem;
    box-sizing: border-box;
    padding: 13px 45px;
    border: 1px solid black;
    border-radius: 30px;
    background: url(../icons/search_icon.svg) no-repeat;
    background-position: 15px 70%;
    margin-bottom: 30px; 
}

input[type="search" i]::-webkit-search-cancel-button {
    cursor: pointer;
}

form input:focus-visible {
    outline: none;
}

form img {
    margin-bottom: 28px;
}

form button {
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 10px;
    border-radius: 3px;
    margin-bottom: 30px;
}

form p, form a {
    display: inline-block;
    font-size: 1.2rem;
    margin-left: 7px;
}


footer {
    grid-area: footer;
    display: grid;
    grid-template: "Place"
                   "Google";
    grid-template-rows: auto auto;               
}

#places {
    grid-area: Place;
}

#places ul {
    justify-content: flex-start;
}

ul p {
    margin-left: 30px;
}

#footer-nav {
    grid-area: Google;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}


@media(max-width: 600px) {
    form input {
        width: 90%;
    }
}

