
html {
    font-size: 10px;
}

ul {
    display: flex;
    align-items: center;
    padding: 20px 20px 20px 10px;
    flex-wrap: wrap;
}

header ul {
    justify-content: flex-end;
}

a {
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    margin-left: 20px;
}

body {
    display: grid;
    grid-template-areas: 
    "header"
    "content";
    grid-template-rows: auto 1fr;
    height: 100vh;
}

header {
    grid-area: header;
}

main {
    grid-area: content;
    display: grid;
    grid-template-areas: 
    "form"
    "footer";
    grid-template-rows: 1fr auto;
}


form {
    grid-area: form;
    width: auto;
    height:73%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form input {
    width: 55rem;
    box-sizing: border-box;
    padding: 13px 40px;
    border: 1px solid black;
    border-radius: 30px;
}

form input:focus-visible {
    outline: none;
}

form img {
    margin-bottom: 30px;
}

footer {
    grid-area: footer;
    display: grid;
    grid-template: "Place"
                   "Google";
    grid-template-rows: auto auto;               
}

#places {
    grid-area: Place;
}

ul p {
    font-size: 1.5rem;
    margin-left: 30px;
}

footer a {
    margin-left: 30px;
}

#footer-nav {
    grid-area: Google;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

@media(max-width: 900px) {
    #footer-nav {
        justify-content: space-around;
    }
}

@media(max-width: 600px) {
    form input {
        width: 90%;
    }
}

#search-icon { 
    color: rgba(154, 160, 166, 1);
}



