
ul {
    display: flex;
    align-items: center;
    padding: 20px 20px 20px 10px;
    flex-wrap: wrap;
}

header ul {
    justify-content: flex-end;
}

a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
}

body {
    display: grid;
    grid-template-areas: 
    "header"
    "content";
    grid-template-rows: auto 1fr;
    height: 100vh;
}

header {
    grid-area: header;
}

main {
    grid-area: content;
    display: grid;
    grid-template-areas: 
    "form"
    "footer";
    grid-template-rows: 1fr auto;
}


form {
    grid-area: form;
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    grid-area: footer;
}

ul p {
    margin-left: 30px;
}

footer a {
    margin-left: 30px;
}

#footer-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

@media(max-width: 900px) {
    #footer-nav {
        justify-content: space-around;
    }
}

#search-icon { 
    color: rgba(154, 160, 166, 1);
}



